html, body{
	background-color: black;
	color: #f2f2f2;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

div{
	margin: 0!important;
	padding: 0!important;
}

.navbar{
	background-color: rgba(0,0,0,.5);
	font-size: medium;
	color:#f2f2f2;
}

.navbar-nav>a{
	color:#f2f2f2!important;
	font-size: small;
	font-weight: bold;
}

.navbar-nav>a:hover{
	color:#c4c2c2!important;

}

.home{
	height: 100vh;
	background-image: url(../img/backgrounds/bg5.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	text-align: center;
}

.about{
	height: 100vh;
}

.contact{
	height: fit-content;
	background-color: #1a1a1a;
	padding-top: 6rem!important;
	padding-bottom: 6rem!important;
	background-color: black;
	background-image: url(../img/backgrounds/bg6.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	text-align: center;
}

.proyects{
	color: #f2f2f2;
	height: fit-content;
	padding-top: 15rem!important;
	padding-bottom: 10rem!important;
	background-color: #f2f2f2;
	background-image: url(../img/backgrounds/bg3.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	text-align: center;
}

.footer{
	background-color: black;
	height: fit-content;
	font-size: small;
	color: #f2f2f2;
}



.home h1{
	font-size: 120px;
	display: inline;
}


.contact h1{
	font-size: 50px;
	display: inline;
}

.about h1{
	font-size: 100px;
	display: inline;
}

.proyects h1{
	font-size: 50px;
	display: inline;
}

.proyects P{
	font-size: small;
	font-weight: bold;
}


.proyects-logo{
	width: 150px;
	filter: invert(100%);
}

.proyects-logo:hover{
	opacity: .8;
}

.border-proyect{
	border-left: solid;
	border-right: solid;
	border-color: #dedede;
	border-width: 2px;
}


.text-center{
  bottom: 0;
  top: 45%;
}


.header-logo{
	width: 150px;
}


.img-footer{
	width: 200px;
}

.align-items-center {
  display: flex; 
  align-items: center;  /*Aligns vertically center */
  justify-content: center; /*Aligns horizontally center */
}

.navicon{
	filter: invert(100%);
	width: 35px;
}

.navicon:hover{
	opacity: .7;
}

.arrow-size{
	font-size: xx-large	;
	user-select: none;
	padding: 6px;
}

#topBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 60px; /* Place the button at the bottom of the page */
  right: 35px; /* Place the button 30px from the right */
  z-index: 90; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  background-color: rgba(0, 0, 0, .5); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  font-weight: bolder;
  transition: 0.5s ease;
  border: none;

}

#topBtn:hover {
	background-color: rgba(0, 0, 0, .8);
}

.icon-size{
  vertical-align:bottom;
  font-size: 22px;
}

.social-icon{
	width: 25px;
	height: 25px;
	filter: invert(100%);
	filter: brightness(2);
	margin-right: 20px;
}

.centering{
	text-align: center;
}

.social-icon:hover{
	opacity: .8;
}

.img-footer{
	width: 150px;
}

.form-control{
 	background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
 	border-radius: 0;
 	color: #f2f2f2;
 	border-color: #f2f2f2;
 	border-width: 2px;
  font-size: medium;
}

.form-control:focus, .form-control:active{
	background-color: transparent;
	outline: none !important;
 	box-shadow: none;
 	color: whitesmoke;
}

option{
	background-color: #1a1a1a;
}

.form-border{
	border: solid!important;
	border-color: black;
	border-width: 2px!important;
}

.form-control:focus, .form-control:active{
	border-color: white;
}

::placeholder{
	color: white!important;
}

 .map-container{
  overflow:hidden;
  position:relative;
  height: 0;
}

.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  filter: grayscale(100%) brightness(1);
}

.contact-btn{
	background-color: #f2f2f2;
	font-size: small;
	font-weight: ;
	border-radius: 0px;
}

.contact-btn:hover{
	background-color: gray;
	color: white;
}

.navbar-toggler{
	border: none;
}

.navbar-toggler:focus, .navbar-toggler:active{
	border: none!important;
	outline: none !important;
 	box-shadow: none;
}

.gallery{
  position: relative;
  background-color: #010101;
  color: #D6B379;
  font-size: x-small;
  height: fit-content;
  text-align: center;
}

.img-gallery{
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  overflow: hidden;
  z-index: 2;
  	filter: grayscale(100%);

}

.img-mrg{
  padding-right:0;
  padding-left:0;
  overflow: hidden;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
  cursor: pointer;
}

.img-mrg:hover .overlay {
  opacity: .9;
}

.img-mrg:hover .img-gallery{
	transform:scale(1.2);
}

.text {
  color: #f2f2f2;
  font-size: small;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width: 760px){

	body{
		text-align: center!important;
	}

	h1{
		font-size: 50px!important;
	}

	h3{
		padding: 40px;
		font-size: large;
	}

	.contact{
		height: fit-content;
	}

	.border-proyect{
		border: none!important;
	}
 }


 /* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f2f2f2 ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: whitesmoke;
}